.login-form {
    margin: 10% auto; /* Center form vertically and horizontally with top margin */
    padding: 20px; /* Add padding inside the form for spacing */
    gap: 10px; /* Space between form elements */
    width: 30%; /* Width of the form */
    height: fit-content; /* Adjust height based on content */
    color: black; /* Text color inside the form */
    background-color: #fff; /* White background for the form */
    border-radius: 8px; /* Slightly rounded corners */
    border: 1px solid #ddd; /* Light border around the form */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for better visibility */
  }

.login-button {
    padding: 0 30px;
    width: auto;
    height: 50px;
    border-radius: 30px;
    font-weight: 600;
    font-size: 1.15rem;
    background-color: rgb(54, 255, 88);
    background-color: var(--primary-dark);
    color: black;
    transition: background-color 0.2s ease-in-out;
}

.login-input {
    z-index: 0;
    width: 100%;
    padding: 8px;
    border-radius: 7px;
    border: solid 1px black;
}

.login-input:active {
    border: solid 0.5px grey;
}

.button {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.password-toggle {
    margin-right: 10px;
    cursor: pointer;
}

@media (350px<=width <=500px) {
    .login-button {
        width: 35%;
    }
}