.menu {
    .item {
      display: flex;
      flex-direction: column;
      gap: 10px;
      margin-bottom: 20px;
    }
  
    .title {
      font-size: 12px;
      font-weight: 200;
      color: black;
      text-transform: uppercase;
    }
  
    .listItem {
      display: flex;
      align-items: center;
      gap: 10px;
      padding: 10px;
      border-radius: 5px;
      transition: background-color 0.3s ease; /* Smooth transition for hover effect */
  
      &:hover {
        background-color: blue;
        color: white; /* Change text color on hover for better contrast */
      }
    }
  }
  