* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.container {
  display: flex;
  overflow-x: hidden;
  margin: 0 0 0 2rem !important;
}

.menuContainer {
  width: 250px;
  height: 93vh;
  padding: 5rem 20px;
  border-right: 2px solid black;
}

.contentContainer {
  padding: 5px 20px;
  width: 100%;
}