@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  overflow-x: hidden;
}


.MainContainer {
  width: 100%;
  display: flex;
  overflow-x: hidden;
  margin: 0 2rem 0 1rem !important;
}

.menuContainer {
  margin: 0 2rem;
  width: 350px;
  min-height: 93vh;
  overflow-y: hidden;
  padding: 3rem 1rem;
  border-right: 2px solid black;
}

.contentContainer {
  margin: 1rem;
  padding: 1rem 2rem;
  width: 100%;
}